* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

body {
    background-color: #333;
}

div {
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    line-height: 35px;
 
}

.long {
    border: 1px solid black;
    background-color: red;
    width: 800px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: calc(50% - 400px) ;
    transition: 3s;


}.long:hover {
    transform: scale(2);
    left: calc(50% - 150px);
    width: 300px;
    
    background-color: turquoise;
}

.short {
    background-color: blue;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 100px;
    left: calc(50% - 150px);
    border-radius: 25px;
    transition: 1s linear ;
}
.short:hover {
transform: rotate(360deg);
}
.short2 {
    background-color: yellow;
    position: absolute;
    left: calc(20% - 150px);
    transition: 1s ease-out 1s;
}
.short3 {
    background-color: green;
    position: absolute;
    left: calc(70% - 150px);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.short2,.short3 {
    width: 300px;
    height: 35px;
   
    top: 150px;
    border-radius: 10px;
  
}
.short:hover~ .short2, .short:hover~ .short3 {

    transform: rotate(360deg);
}




.center {
    background-color: transparent;
    width: 400px;
    height: 200px;
    position: absolute;
    line-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 3s;

}
.center:hover {
    background-color: white;
    color: black;
}


